.wrapper {
    padding: 0 60px 50px 60px;
  }
  
  .sneakersSearch {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 39px 0 40px 0;
  }
  
  .text {
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    color: #000000;
  }

  .close {
    position: absolute;
    left: 1093px;
    cursor: pointer;
  }