.container {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    // justify-content: center;

    justify-content: space-between;
}


@media screen and (max-width: 1080px)  {
    .container {
        gap: 30px;
        transition: all 1s;
    } 
}


@media screen and (max-width: 1010px)  {
    .container {
        gap: 25px;
        transition: all 1s;
    } 
  }

  @media screen and (max-width: 974px)  {
    .container {
        gap: 35px;
        transition: all 1s;
    } 
  }


@media screen and (max-width: 880px)  {
    .container {
        gap: 25px;
        transition: all 1s;
    } 
  }

  @media screen and (max-width: 665px)  {
    .container {
        gap: 25px;
        transition: all 1s;
    } 
  }